.wrapper {
  display: grid;
  align-items: start;
  justify-content: center;
  grid-template-columns: 200px auto 200px;
  gap: 20px;
  margin-top: 20px;
}

.canvasWrapper {
  position: relative;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px
  }
}
