.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
