services:
  server:
    container_name: prakticum-server
    # image: ghcr.io/qurtik/tower-defense/test-prod:latest 
    image: prakticum-server
    build:
      context: .
      dockerfile: Dockerfile.prod
    pull_policy: always
    restart: always
    # Убираем проброс порта наружу (будет доступно только через nginx)
    # ports:
      # - '${SERVER_PORT}:${SERVER_PORT}'
    environment:
      SERVER_PORT: ${SERVER_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      SERVER_HOST: ${SERVER_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - awesome

  postgres:
    container_name: prakticum-postgres
    image: postgres:14
    ports:
      - '${POSTGRES_PORT}:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - ./tmp/pgdata:/var/lib/postgresql/data
    networks:
      - awesome

  # Новый сервис: Nginx
  nginx:
    container_name: prakticum-nginx
    image: nginx:1.23-alpine
    ports:
      - "80:80"
      - "443:443" # Для HTTPS в будущем
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      # Для статических файлов (если нужно)
      - ./packages/client/dist:/usr/share/nginx/html
      # - ./packages/server/dist:/usr/share/nginx/html
    environment:
      - SERVER_PORT=${SERVER_PORT} # Передаем порт для конфига
    depends_on:
      - server
    networks:
      - awesome

networks:
  awesome:
    driver: bridge