services:
   client:
      container_name: prakticum-client
      image: prakticum-client
      build:
         context: .
         dockerfile: Dockerfile.client
         args:
            CLIENT_PORT: ${CLIENT_PORT}
      #  restart: always
      ports:
         - '${CLIENT_PORT}:3001'
      environment:
         - CLIENT_PORT=${CLIENT_PORT}
         - SERVER_PORT=${SERVER_PORT}
      networks:
         - awesome
      #  команда, чтобы контейнер не завершался сразу после запуска.
      # command: sleep infinity
   server:
      container_name: prakticum-server
      image: prakticum-server
      build:
         context: .
         dockerfile: Dockerfile.server
         # dockerfile: Dockerfile.clientwithserver
         args:
            SERVER_PORT: ${SERVER_PORT}
      restart: always
      ports:
         - "4000:${SERVER_PORT}"
      environment:
         SERVER_PORT: ${SERVER_PORT}
      # volumes:
      #   - ./packages/client/dist:/app/client/dist
      depends_on:
         - client
      networks:
         - awesome
      # command: sleep infinity
   # postgres:
   #   image: postgres:14
   #   ports:
   #     - "${POSTGRES_PORT}:${POSTGRES_PORT}"
   #   environment:
   #     POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
   #     POSTGRES_USER: ${POSTGRES_USER}
   #     POSTGRES_DB: ${POSTGRES_DB}
   #   volumes:
   #     - ./tmp/pgdata:/var/lib/postgresql/data

networks:
   awesome:
      driver: bridge
