services:
  server:
    container_name: prakticum-server
    image: ghcr.io/qurtik/tower-defense/server:latest
    pull_policy: always
    restart: always
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    environment:
      SERVER_PORT: ${SERVER_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      SERVER_HOST: ${SERVER_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_HOST: postgres
    # Для HMR
    # volumes:
    #   - ./packages/client/dist:/app/client/dist
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - awesome
  postgres:
    container_name: prakticum-postgres
    image: postgres:14
    ports:
      - '${POSTGRES_PORT}:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      #- ./tmp/pgdata:/var/lib/postgresql/data
      - pg-data:/var/lib/postgresql/data
    networks:
      - awesome

volumes:
  pg-data:
    driver: local
    driver_opts:
      type: none
      device: /mnt/data/postgres
      o: bind

networks:
  awesome:
    driver: bridge
