@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

.app {
  font-family: 'Press Start 2P', sans-serif;
  max-width: 1440px;
  height: 100svh;
  margin: 0 auto;
}
