.layout {
  padding: 0 40px;
  height: 100%;
  display: grid;
  place-items: center;

  .app {
    font-family: 'Courier New', sans-serif;
    max-width: 1440px;
    width: 100%;
    height: 100svh;
    margin: 0 auto;

    .main {
      padding: 20px 0px;
      overflow: scroll;
      max-width: 1440px;
      width: 100%;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;

      &::-webkit-scrollbar {
        width: 2px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
    }
  }
}
