.app {
  font-family: 'Courier New', sans-serif;
  max-width: 1440px;
  height: 80svh;
  margin: 0 auto;

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'howtoplay briefing'
      'start start';
    gap: 16px;
    height: 100%;
    max-height: 700px;
    justify-items: center;

    .startButton {
      grid-area: start;
      display: flex;
      align-items: center;
      align-self: center;
    }

    .howToPlay {
      grid-area: howtoplay;
    }

    .briefing {
      grid-area: briefing;
      width: 100%;
    }
  }
}
