.leaderboard-table {
  margin: 20px 0 20px 0;
}

.leaderboard-card {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border-radius: var(--ant-border-radius);
  box-shadow: var(--ant-box-shadow);
}
